@charset "UTF-8";

/*html5*/
article, aside, dialog, footer, header, section, nav, figure, menu, main {
	display: block
}
/* 给登录界面的HTML设置背景图片：铺满全屏 */
body {
	background-image: url("../image/touristMap.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* 在背景图片基础上覆盖一层蒙版：半透明 */
div.bg-light {
	position: fixed;
	width: 100%;
	opacity: 0.8;
	z-index: 0;
	height: 100%;
}

/* HTML所有表单及其相关内容的容器。覆盖在半透明蒙版之上。 并设置填充间隔 */
div.container-fluid {
	z-index: 1;
	padding-top: 15%;
	padding-bottom: 10%;
	padding-right: 0%;
	padding-left: 0%;
	position: relative;
}

/* 覆盖bootstrap的row样式：去除Margin(外边距) - 清除边框外的区域，外边距是透明的。 */
.row {
	margin: 0;
}