@charset "UTF-8";

/*html5*/
article, aside, dialog, footer, header, section, nav, figure, menu, main {
	display: block
}
/* 禁止用户选择网页内容 */
body {
	-webkit-user-select: none;
}

/* topBanner顶部横幅最左边的logo图标 */
.img-fluid {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 50px;
}

/* 顶部标题文本居中 */
#topBanner .text-center {
	padding-top: 7px;
}

/* 覆盖bootstrap的row样式：去除Margin(外边距) - 清除边框外的区域，外边距是透明的。 */
.row {
	margin: 0;
	padding: 0;
	width: 100%;
}

/* 除去顶部横幅后的主界面的高度 */
.container-fluid .row {
	position: fixed;
	height: 100%;
	margin-left: -10px;
	z-index: 0;
}

/* 每个菜单对应的主面板 */
.tab-content .active {
	display: inline;
}

/* 开始检测地图界面  */
#canvas {
	border: 1px solid #CCC;
	background-image: url("../image/touristMap.jpg");
	background-size: 100% 100%;
	width: 100%;
	max-height: 80%;
}

/* 跟随鼠标进行坐标显示的提示透明背景界面 */
#hint {
	z-index: 1;
}

/* 跟随鼠标进行坐标显示的提示透明背景界面 */
#canvasHint {
	border: 1px solid #CCC;
	background-size: 100% 100%;
	width: 100%;
	max-height: 80%;
}

/* canvas需要的指示图标 */
#userBlue, #userGreen, #userYellow, #userRed {
	display: none;
}